<div class="side-footer">
  <div class="side-footer-card">

    <div class="card-rede-social">
      <div class="rede-social-titulo">
        Minhas Redes:
       </div>
      <div class="rede-social">
        <a href="https://www.linkedin.com/in/keomasponto/" class="rede-social-item"><img class="rede-social-item-img" src="../../assets/icones/social/linkedin.svg" alt=""></a>
        <a href="https://www.linkedin.com/in/keomasponto/" class="rede-social-item"><img class="rede-social-item-img" src="../../assets/icones/social/github.svg" alt=""></a>

        <a href="https://www.linkedin.com/in/keomasponto/" class="rede-social-item"><img class="rede-social-item-img" src="../../assets/icones/social/gmail.svg" alt=""></a>
        <a href="https://www.linkedin.com/in/keomasponto/" class="rede-social-item"><img class="rede-social-item-img" src="../../assets/icones/social/chat.svg" alt=""></a>
      </div>
      </div>



  </div>
</div>
