<div class="card-perfil">
  <img class="foto-perfil" src="../../../assets/perfil/keomas.jpg" alt="">
  <a class="card-perfil-nome">Keomas Oliveira</a>
  <div class="informacoes-adicional">
    <div class="informacoes-itens">
      <a class="informacoes-itens-titulo">Mora em:</a>
      <a class="informacoes-itens-informacao">Campinas - SP</a>
    </div>

    <div class="informacoes-itens">
      <a class="informacoes-itens-titulo">Atualizado em:</a>
      <a class="informacoes-itens-informacao">05/02/2022</a>
    </div>

  </div>
  <a class="card-perfil-cargo">Futuro Front-End Developer Jr.
    <img class="card-perfil-cargo-icone" src="../../../assets/icones/foguete.svg" alt=""> </a>
</div>
