.perfil {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  border-radius: 5px;


  box-shadow: 0 0 0 1px rgba(47, 85,122,0.2);
}
.perfil-itens {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  gap: 5px;
}

@media (min-width: 770px) {

  .perfil-itens {
    flex-wrap: nowrap;

  }
}

@media (min-width: 1000px) {

  .perfil-itens {
    flex-wrap: wrap;

  }
}
