<div class="side-nav">
  <div class="side-nav-card">

    <div class="side-nav-logo">
      <img src="../../assets/icones/logo.svg" alt="" />
      <div class="side-nav-menu-logo-item">MEU PORTIFOLIO</div>
    </div>

    <div class="nav">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <div class="menu">
        <li><a routerLink="my-history">Inicio</a></li>
        <li><a routerLink="portfolio">Portfolio</a></li>
        <li><a href="#">Contatos</a></li>
      </div>
    </div>
  </div>
</div>
