.card-history {
  background: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  padding: 5px;
  height: 559px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.08);
}
.rolagem{
  display: flex;
  overflow-y: scroll;
  height: 80%;
  background: #e4e4e4;
  border: 1px solid #d8d8d8;
  box-sizing: border-box;
  border-radius: 5px;

}
.card-titulo {
  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #024383;
  padding-top: 20px;
}
.card-text{
display: flex;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height:140%;
text-align: justify;
padding: 5px;
color: #000000;
}
@media (min-width: 400px) {
  .rolagem{
    display: flex;
    overflow-y: scroll;

    background: #e4e4e4;
    border: 1px solid #d8d8d8;
    box-sizing: border-box;

  }

}
