.estudos {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  background: #e4e4e4;
  border: 1px solid #d8d8d8;
  box-sizing: border-box;
  border-radius: 14px;

}
.estudos-stacks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.stacks-titulo {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 32px;
  text-align: justify;
}
.stacks-img {
  width: 60px;
  height: 60px;
}
