<div class="estudos">
  <div class="stacks-titulo">
   O que estou estudando?
  </div>
  <div class="estudos-stacks">
  <img class="stacks-img" src="../../../assets/icones/stacks/angular.svg" alt="">
  <img class="stacks-img" src="../../../assets/icones/stacks/typescrypt.svg" alt="">
  <img class="stacks-img" src="../../../assets/icones/stacks/csharp.svg" alt="">
  <div class="break"></div>
  <img class="stacks-img" src="../../../assets/icones/stacks/html5.svg" alt="">
  <img class="stacks-img" src="../../../assets/icones/stacks/css3.svg" alt="">
  <img class="stacks-img" src="../../../assets/icones/stacks/javascrypt.svg" alt="">
</div>
</div>
