<div class="card-rede-social">
<div class="rede-social-titulo">
  Minhas Redes:
 </div>
<div class="rede-social">
  <div class="rede-social-item"><img class="rede-social-item-img" src="../../assets/icones/social/linkedin.svg" alt=""></div>
  <div class="rede-social-item"><img class="rede-social-item-img" src="../../assets/icones/social/github.svg" alt=""></div>
<div class="break"></div>
  <div class="rede-social-item"><img class="rede-social-item-img" src="../../assets/icones/social/gmail.svg" alt=""></div>
  <div class="rede-social-item"><img class="rede-social-item-img" src="../../assets/icones/social/chat.svg" alt=""></div>
</div>
</div>
