.perfil {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
  align-items: center;
  background: #f1f1f1;
  border-radius: 20px;
  padding: 5px;
  height: 800px;
}
.perfil-itens {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  gap: 5px;
}

@media (min-width: 526px) {
  .perfil{
    height: 620px;
  }
  .perfil-itens {
    flex-wrap: nowrap;
    padding: 5px 20px 5px 20px;
  }
}

@media (min-width: 1000px) {
  .perfil{
    height: 800px;
  }
  .perfil-itens {
    flex-wrap: wrap;
    padding: 5px;
  }
}
