.card-history {
  background: #f1f1f1;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
 justify-content: space-around;
  padding: 5px;
  height: 800px;
}
.rolagem{
  display: flex;
  overflow-y: scroll;
  height: 620px;
  background: #e4e4e4;
  border: 1px solid #d8d8d8;
  box-sizing: border-box;
  border-radius: 14px;
}
.card-titulo {
  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 28px;
  text-align: center;
  color: #024383;
  padding-top: 20px;
}
.card-text{
display: flex;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height:161%;
text-align: justify;
padding: 20px;
color: #000000;
}
@media (min-width: 400) {
  .rolagem{
    display: flex;
    overflow-y: scroll;
    height: 700px;
    background: #e4e4e4;
    border: 1px solid #d8d8d8;
    box-sizing: border-box;
    border-radius: 14px;
  }

}
