<div class="card-history">
  <div class="card-titulo">{{ title }}</div>
  <div class="rolagem">
    <p class="card-text">
      Apaixonado por computadores, com 9 para 10 anos foi quando meus olhos
      brilharam para o ramo da tecnologia, em 2006 iniciei meu primeiro curso na
      área de informatica no mesmo ano, e posteriormente em 2008 de infra. Nesta
      faze foi onde consegui minha estrutura e entendimento de como funciona um
      computador, e também os softwares.
      <br />
      <br />Assim me surgiu a curiosidade, de como os programas dos computadores
      são feitos, e em 2011 conheci as linguagens de programação VB6 e VB.NET,
      naquele momento meus olhos brilharam!
      <br />
      <br />Em 2018 entrei na minha primeira empresa de tecnologia, assim sempre
      tentando me superar como profissional e repassar meu conhecimento. Mas algo
      havia mudado em mim, pois havia perdido o interesse na Programação.
      <br />
      <br />Em 2020, conversando com meu amigo Felipe Monari estava em um momento
      profissional muito dificil, onde não sabia como dar sequencia na minha
      carreira, e ele falou que nosso amigo Keven Jesus, iria fazer uma imersão
      Front-End, aquilo me fez abrir os olhos e me fez sair do momento dificil que
      eu estava, e foi assim que voltei a me interessar novamente pela area de
      Dev. Sou muito grato ao Keven por ter me proporcionado esta experiência e
      direcionamento.
      <br />
      <br />Em 2020 e 2021 foquei nos meus estudos, porém muitas situações
      relacionadas a pandemia vieram e acabaram me afetando tanto pessoalmente na
      minha familia como também profissionalmente. Assim, hoje estou focado na
      minha transição profissional para area de Dev.
    </p>
  </div>
</div>
